
div {
    display: block;
    padding: 5px;
}

footer {
    padding: 5px;
}

p {
    padding: 0px;
    margin: 0px;
}

.header {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}

.header:hover {
    text-decoration: none;
    color: #99D3DF;
    transition: color 0.5s ease;
}

header {
    background: linear-gradient(#88BBD6, cornflowerblue);
    padding-top: 8px;
    padding-bottom: 5px;
}

body {
    background: url(src/dust_scratches.png) repeat 0 0;
}

.obr {
    width: 18%;
    margin-right: 0.5%;
    padding: 0%;
    float: left
}

.obr_last {
    width: 18%;
    margin: 0%;
    padding: 0%;
    clear: both;
}

#activeobr {
    height: 55%;
    width: 55%;
}

#activediv {
    height: auto;
    width: auto;
}

.clanky {
    background-color: cornflowerblue;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
}

.clanky_last {
    background-color: cornflowerblue;
    border: 1px solid #CDCDCD;
}

.clanek {
    text-align: center;
    color: black;
    transition: color 0.5s ease;
    text-decoration: none;
}

.clanek:hover {
    color: #99D3DF;
    transition: color 0.5s ease;
}

h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 55px;
    margin-bottom: 5px;
}

.img_container {
    margin: 0px;
    padding: 0px;
}

#casDatum {
    float: right;
    width: 40%;
    height: 65px;
    padding-left: 0;
}

#cas, #datum {
    text-align: right;
}

#autor {
    float: left;
    width: 40%;
    height: 65px;
    padding-right: 0;
}