body {
    background: url(../src/dust_scratches.png) repeat 0 0;
}

div {
    display: block;
    padding: 5px;
}

p {
    padding: 0;
    margin: 0;
}

/*header area*/
header {
    background: linear-gradient(#88BBD6, cornflowerblue);
    padding-top: 8px;
    padding-bottom: 5px;
}

.headline {
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
}

.headline:hover {
    text-decoration: none;
    color: #99D3DF;
    transition: color 0.5s ease;
}

h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 55px;
    margin-bottom: 5px;
}

/*main area*/
.row {
    padding: 0;
}

.left {
    padding-left: 0;
}

.clanky {
    background-color: cornflowerblue;
    float: left;
    border-bottom: solid 1px #DDDDDD;
}

.clanky_last {
    background-color: cornflowerblue;
    float: left;
}

.clanek {
    text-align: center;
    color: black;
    transition: color 0.5s ease;
    text-decoration: none;
}

.clanek:hover:not(.active) {
    color: #99D3DF;
    transition: color 0.5s ease;
}

.active {
    color: white;
}

.active:hover {
    color: white;
}

.obr {
    width: 18%;
    margin-right: 0.5%;
    padding: 0;
    float: left
}

.obr_last {
    width: 18%;
    margin: 0;
    padding: 0;
    clear: both;
}

#activeobr {
    height: 55%;
    width: 55%;
}

/*footer area*/
footer {
    padding: 5px;
}

#autor {
    float: left;
    width: 40%;
    height: 65px;
    padding-right: 0;
}

#casDatum {
    float: right;
    width: 40%;
    height: 65px;
    padding-left: 0;
}

#cas, #datum {
    text-align: right;
}